<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="recruit.saas.mapper.ArticleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="recruit.saas.entity.Article">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="content" property="content" />
        <result column="article_cover" property="articleCover" />
        <result column="publish_admin_id" property="publishAdminId" />
        <result column="publish_time" property="publishTime" />
        <result column="publisher" property="publisher" />
        <result column="publisher_face" property="publisherFace" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, title, content, article_cover, publish_admin_id, publish_time, publisher, publisher_face, status, create_time, update_time
    </sql>

</mapper>
