<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="recruit.saas.mapper.OrdersMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="recruit.saas.entity.Orders">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="company_id" property="companyId" />
        <result column="item_name" property="itemName" />
        <result column="total_amount" property="totalAmount" />
        <result column="real_pay_amount" property="realPayAmount" />
        <result column="post_amount" property="postAmount" />
        <result column="pay_method" property="payMethod" />
        <result column="status" property="status" />
        <result column="extend" property="extend" />
        <result column="created_time" property="createdTime" />
        <result column="updated_time" property="updatedTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, company_id, item_name, total_amount, real_pay_amount, post_amount, pay_method, status, extend, created_time, updated_time
    </sql>

</mapper>
