<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="recruit.saas.mapper.ReportJobMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="recruit.saas.entity.ReportJob">
        <id column="id" property="id" />
        <result column="job_id" property="jobId" />
        <result column="report_user_id" property="reportUserId" />
        <result column="report_user_name" property="reportUserName" />
        <result column="report_reason" property="reportReason" />
        <result column="job_name" property="jobName" />
        <result column="company_name" property="companyName" />
        <result column="deal_status" property="dealStatus" />
        <result column="created_time" property="createdTime" />
        <result column="updated_time" property="updatedTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, job_id, report_user_id, report_user_name, report_reason, job_name, company_name, deal_status, created_time, updated_time
    </sql>

</mapper>
